<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gulp Starter Kit</title>
    <!-- build:css -->
    <link rel="stylesheet" href="src/css/style.css">
    <!-- endbuild -->
  </head>
  <body>
    <h1>GET IT</h1>
    <!-- build:js -->
    <script src="src/js/plugins.js"></script>
    <script src="src/js/script.js"></script>
    <!-- endbuild  -->
  </body>
</html>